@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Telemedicine Assistant</h3>
    <p class="lead">
        In this application, users can save their personal health information in order to record the user's health status over a period of time. In addition, users can book online health consultations with expert doctors. This makes it possible for users to address most minor ailments without leaving the house, which greatly facilitates the users medical help service experience.We believe that this application will help users to get better quality medical help.
    </p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/pic3.jpeg" width="350" height="200"/>
    </div>
    <div class="col-md-4">
        <img src="~/pic1.jpeg" width="350" height="200"/>
    </div>
    <div class="col-md-4">
        <img src="~/pic2.jpeg" width="350" height="200"/>
    </div>
</div>